<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ranking Pioneers</title>
    <link rel='stylesheet' type="text/css" href="/style.css">
</head>
<body>
    <h1>Ranking Pioneers</h1>
    <div class="position" id="0">
        <div class='img' id="0-img"></div>
        <div class='nome' id="0-nome"></div>
        <div class='num' id="0-num"></div>
    </div>
    
    <div class="position" id="1">
        <div class='img' id="1-img"></div>
        <div class='nome' id="1-nome"></div>
        <div class='num' id="1-num"></div>
    </div>

    <div class="position" id="2">
        <div class='img' id="2-img"></div>
        <div class='nome' id="2-nome"></div>
        <div class='num' id="2-num"></div>
    </div>

    <div id="name-space"></div>
    <script src="/index.js" type='module'></script>
</body>
</html>